@charset "UTF-8";
#clickedBtn {
  padding: 13px 62px;
  border-radius: 50px;
  border: 2px solid #F53855;
  background-color: #F53855;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 18px 54px 0px rgba(245, 56, 56, 0.35);
  box-shadow: 0px 18px 54px 0px rgba(245, 56, 56, 0.35);
}

body {
  font-family: "Rubik", sans-serif !important;
  background-color: #FFFFFF;
}

.sBack {
  background-color: #F6F6F6;
  padding-bottom: 200px;
}

/************************Nav************************/
nav {
  margin-top: 50px;
}

.info {
  text-align: center;
  padding-top: 7px;
}

.info a {
  text-decoration: none;
  padding: 0px 20px 0 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #4F5665;
}

.info a:hover {
  color: #0B132A;
  text-decoration: underline;
}

.sign {
  text-align: right;
  padding-top: 7px;
}

.sign .in {
  text-decoration: none;
  padding-right: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #4F5665;
}

.sign .up {
  text-decoration: none;
  padding: 13px 45px;
  border-radius: 50px;
  border: 2px solid #F53855;
  background-color: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F53838;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.sign .up:hover {
  background-color: #F53838;
  color: #F6F6F6;
}

/*wantAny*/
.wantAny {
  padding-top: 120px;
}

.getStart h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0B132A;
}

.getStart h1 span {
  font-weight: 700;
}

.getStart p {
  max-width: 555px;
  margin: 0 auto;
  margin-bottom: 67.5px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.getStart a {
  text-decoration: none;
  -webkit-box-shadow: 0px 18px 54px 0px rgba(245, 56, 56, 0.35);
  box-shadow: 0px 18px 54px 0px rgba(245, 56, 56, 0.35);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #F6F6F6;
  padding: 17.5px 77.5px;
  border-radius: 10px;
  border: 2px solid #F53838;
  background-color: #F53838;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.getStart a:hover {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #F53838;
  padding: 17.5px 77.5px;
  border-radius: 10px;
  border: 2px solid #F53838;
  background-color: #F6F6F6;
}

.wantAny div img {
  display: block;
  max-width: 90%;
  height: auto;
}

/*dignity*/
.dignity {
  margin-top: 80px !important;
  background: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0px 40px 100px 0px rgba(13, 16, 37, 0.06);
  box-shadow: 0px 40px 100px 0px rgba(13, 16, 37, 0.06);
}

.dignity .dignityElement {
  text-align: center;
  margin: 27.5px 0;
  border-right: 2px solid #EEEFF2;
  /* Для Firefox */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dignity .dignityElement:last-child {
  border-right: none;
}

.dignity .dignityElement .text {
  padding: 40px 0 20px 36.5px;
  vertical-align: middle;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #4F5665;
}

.dignity hr {
  max-width: 300px;
  margin: 0 auto;
  border: 2px solid #EEEFF2;
}

/************************weProvide************************/
.weProvide {
  padding: 110px 0;
}

.weProvide__info {
  padding-top: 55px;
}

.weProvide__info ul {
  list-style: none;
  padding-left: 0;
}

.weProvide__info ul li p {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}

.weProvide__info h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
}

.weProvide__info p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  max-width: 555px;
}

/************************Choose************************/
.choose {
  padding-top: 80px;
}

.choose .title {
  text-align: center;
}

.choose .title h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
}

.choose .title p {
  padding-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  max-width: 555px;
  margin: 0 auto;
}

.choose .cards {
  padding-top: 60px;
}

.choose .cards .oneCard {
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  height: 760px;
  text-align: center;
  margin: 0 25px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.choose .cards .oneCard ul {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.choose .cards .oneCard:first-child {
  margin-left: auto;
}

.choose .cards .oneCard:last-child {
  margin-right: auto;
}

.choose .cards .oneCard ul li p {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4F5665;
}

.choose .cards .oneCard .box {
  padding-top: 80px;
}

.choose .cards .oneCard h4 {
  padding: 30px 0;
}

.choose .cards .oneCard .price {
  margin-bottom: 35px;
}

.choose .cards .oneCard .price a {
  text-decoration: none;
  padding: 13px 62px;
  border-radius: 50px;
  border: 2px solid #F53855;
  background-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #F53838;
}

.choose .cards .oneCard .price p {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
  padding-bottom: 10px;
}

.choose .cards .oneCard .two p {
  padding-top: 45px;
}

.choose .cards .oneCard .one p {
  padding-top: 90px;
}

.choose .cards .oneCard .price p span {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #4F5665;
}

/************************Global************************/
.global {
  padding-top: 150px;
  text-align: center;
}

.global .title img {
  padding-top: 150px;
  max-width: 100%;
}

.global .media img {
  max-width: 20%;
}

.global .media {
  padding: 100px 0;
}

.global img {
  padding: 0 25px;
}

.global .title h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  max-width: 380px;
  margin: 0 auto;
}

.global .title p {
  padding-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  max-width: 555px;
  margin: 0 auto;
}

.global .title p span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

/************************Cards************************/
.slider__item {
  padding: 30px;
  width: 400px;
  height: 240px;
  margin-right: 50px;
  width: 100%;
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
}

.slider__item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider__item .info img {
  margin-right: 20px;
}

.slider__item .info .text {
  margin-right: auto;
  height: 50px;
}

.slider__item .info h3 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}

.slider__item .info h4 {
  margin: 0;
  color: #4F5665;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.slider__item .rang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  float: right;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.slider__item .rang span {
  margin-right: 10px;
}

.slider__item .rang img {
  margin-right: 0;
}

.slider__item .review {
  margin-top: 20px;
}

.slider__item .review p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #0B132A;
}

.profCards {
  padding-bottom: 130px;
}

.profCards .title {
  text-align: center;
  margin-bottom: 60px;
}

.profCards .title h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
}

.profCards .title p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  max-width: 555px;
  margin: 0 auto;
}

/************************Subscribe************************/
.zSub {
  position: relative;
}

.subscribe {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -320px;
  max-height: 240px;
  border-radius: 10px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 40px 100px 0px rgba(13, 16, 37, 0.06);
  box-shadow: 0px 40px 100px 0px rgba(13, 16, 37, 0.06);
}

.subscribe .text {
  text-align: left;
  padding: 58px 0 58px 70px;
}

.subscribe .a {
  text-align: right;
  padding: 104px 70px;
}

.subscribe a {
  padding: 17px 65px;
  border-radius: 10px;
  border: 2px solid #F53838;
  background-color: #F53838;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-box-shadow: 0px 18px 54px 0px rgba(245, 56, 56, 0.35);
  box-shadow: 0px 18px 54px 0px rgba(245, 56, 56, 0.35);
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.subscribe a:hover {
  background-color: #FFFFFF;
  color: #F53838;
}

.subscribe .text h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
}

.subscribe .text p {
  padding-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin: 0;
}

/************************Footer************************/
.footer {
  background: #F8F8F8;
  padding-top: 180px;
  padding-bottom: 100px;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__block .logo {
  margin-bottom: 20px;
}

.footer__contact {
  max-width: 340px;
  width: 100%;
}

.footer__contact p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 30px;
}

.footer__contact p span {
  font-weight: 500;
}

.footer__contact .social__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 211px;
  width: 100%;
  margin-bottom: 0;
}

.footer__contact .social__box a {
  margin: 0;
  padding: 0;
}

.footer__contact .copy {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #AFB5C0;
  margin: 0;
  padding: 0;
}

.footer__contact .copy span {
  font-weight: 500;
}

.footer__nav h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #0B132A;
  margin-bottom: 20px;
}

.footer__nav ul {
  padding: 0;
  margin: 0;
}

.footer__nav ul li {
  list-style: none;
  margin-bottom: 10px;
}

.footer__nav ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  text-decoration: none;
}

.footer__nav ul li a:hover {
  color: #0B132A;
  text-decoration: underline;
}

/************************Slick slider************************/
/* Слайдер */
.slick-slider {
  position: relative;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slide.slick-current {
  border: 2px solid #F53838;
}

.slick-arrow.slick-prev {
  position: absolute;
  bottom: -130px;
  right: 0;
  padding: 18px 20px;
  border-radius: 100%;
  border: 2px solid #F53838;
  background-color: transparent;
  margin-right: 100px;
}

.slick-arrow.slick-next {
  position: absolute;
  bottom: -130px;
  right: 0;
  padding: 18px 20px;
  border-radius: 100%;
  border: 2px solid #F53838;
  background-color: #F53838;
}

.slick-dots {
  position: absolute;
  bottom: -130px;
  left: 0;
  list-style: none;
  padding-left: 0;
}

.slick-dots li {
  display: inline-block;
  background: #DDE0E4;
  border-radius: 50%;
  padding: 3px 15px;
  margin-right: 20px;
}

.slick-dots li.slick-active {
  padding: 3px 30px;
  border-radius: 20px;
  background: #F53838;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slick-dots li button {
  padding: 0;
  border: 0;
  font-size: 0;
  height: 0;
}

/************************Adaptive************************/
@media (min-width: 500px) and (max-width: 767.98px) {
  .wantAny div img {
    padding-top: 0;
  }

  .choose .cards .oneCard {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
  }

  .global .media img {
    max-width: 20%;
    padding: 0;
  }

  .wantAny div {
    text-align: center;
  }

  .wantAny div img {
    padding-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .wantAny div img {
    padding-top: 100px;
    max-width: 80%;
  }

  .weProvide img {
    max-width: 80%;
  }

  .choose .cards .oneCard {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
  }

  .weProvide div {
    text-align: center;
  }

  .weProvide div img {
    padding-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .weProvide__info {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }

  .weProvide__info ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
    padding-top: 110px;
  }

  .weProvide__info ul li p {
    padding-left: 20px;
  }

  .weProvide__info ul li img {
    padding-top: 0;
    display: inline-block;
  }

  .global .title img {
    padding: 50px 0;
    max-width: 100%;
  }

  .global {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .subscribe .a {
    padding: 104px 0;
    text-align: center;
    width: 100% !important;
  }

  .subscribe .text {
    display: none;
  }

  .footer__block {
    display: block;
    text-align: center;
  }

  .footer__contact {
    max-width: 540px;
  }

  .social__box {
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .wantAny div img {
    margin-top: 100px;
  }

  .footer__contact {
    text-align: center;
  }

  .choose .cards .oneCard {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
  }

  .global .media {
    display: none;
  }

  .global .title img {
    padding: 50px 0;
    max-width: 100%;
  }

  .wantAny div {
    text-align: center;
  }

  .wantAny div img {
    padding-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .wantAny div img {
    padding-top: 0;
  }

  .choose .cards .oneCard {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
  }

  .weProvide div {
    text-align: center;
  }

  .weProvide div img {
    padding-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .weProvide__info {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }

  .weProvide__info ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
    padding-top: 110px;
  }

  .weProvide__info ul li p {
    padding-left: 20px;
  }

  .weProvide__info ul li img {
    padding-top: 0;
    display: inline-block;
  }

  .subscribe .a {
    padding: 104px 0;
    text-align: center;
    width: 100% !important;
  }

  .subscribe .text {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .dignity .dignityElement {
    border-right: none;
  }

  .wantAny div img {
    padding-top: 0;
  }

  .choose .cards .oneCard {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
  }

  .global .media img {
    max-width: 20%;
    padding: 0;
  }

  .wantAny div {
    text-align: center;
  }

  .wantAny div img {
    padding-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .weProvide div {
    text-align: center;
  }

  .weProvide div img {
    padding-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .weProvide__info {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }

  .weProvide__info ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
    padding-top: 110px;
  }

  .weProvide__info ul li p {
    padding-left: 20px;
  }

  .weProvide__info ul li img {
    padding-top: 0;
    display: inline-block;
  }
}
@media (min-width: 1200px) and (max-width: 1409.98px) {
  .wantAny div img {
    padding-top: 0;
  }
}